<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Present Meet</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <!-- CSS only -->
    <link rel="stylesheet" href="css/register.css" />
    <script defer src="javascript/register.js"></script>
  </head>
  <body>
    <main>
      <div id="form">
        <div class="card">
          <form action="/profile" id="user-info" method="post">
            <label for="first_name">First Name</label>
            <input
              type="text"
              name="first_name"
              id="first_name"
              value="<%= user.firstName %>"
              autocomplete="off"
            />
            <label for="last_name">Last Name</label>
            <input
              type="text"
              name="last_name"
              id="last_name"
              value="<%= user.lastName %>"
              autocomplete="off"
            />
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              value="<%= user.username %>"
              autocomplete="off"
            />
            <!-- <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="off"
            /> -->
            <label for="birthday">Birthday</label>
            <input
              type="date"
              name="birthday"
              id="birthday"
              min="1950-01-01"
              max="2013-01-01"
              value="<%= user.birthday %>"
              autocomplete="off"
            />
            <label for="type">User type</label>
            <select name="type" id="user-type">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
              <option value="host">Host</option>
              <option value="audience">Audience</option>
            </select>

            <button type="submit" id="submit-btn">Submit</button>
          </form>
        </div>
        <div class="card">
          <form action="/password">
            <label for="password">Password</label>
            <input type="password" name="password" id="pw" />
            <label for="new-pw">New Password</label>
            <input type="password" name="new-pw" id="new-pw" />
            <label for="new-pw2">Confirm New Password</label>
            <input type="password" name="new-pw2" id="new-pw2" />
            <button type="submit" id="change-pw-btn">Change Password</button>
          </form>
        </div>
      </div>

      <section id="user-face">
        <div class="take-photo" id="take-photo">
          <div class="attendance-camera"></div>
          <div class="photo-btn">
            <button id="attendance-btn">Photo</button>
          </div>
        </div>
      </section>
    </main>
    <script defer>
      document.getElementById('user-type').value =
        '<%=user.type%>' || 'student';
    </script>
  </body>
</html>
